// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html{
    font-family: 'DM Serif Display', serif;
}

// nav bar
@media (min-width: 992px){
    .nav li {
        margin-top: 2em;
        margin-left : 1em;
        margin-right : 1em;
    }
}

.nav {
    font-family:'DM Serif Display' !important;
    padding: auto;
}

a.nav-link{
    color: black;
  }

// Hero

#hero {
    background-image: url(../images/cheesecake-1578695_1920.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #hero .d-flex{
    height: 70vh;
  }

  .display-1 {
    text-align: right;
  }


