// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html{
    font-family: 'DM Serif Display', serif !important;

}

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "footer":     $orange-700,
  "light":      $light,
  "dark":       $dark
);

.wrapper{
  max-width: 1280px;
  align-content: center;
  margin: auto;
}


// nav bar
@media (min-width: 992px){
    .nav li {
        margin-top: 2em;
        margin-left : 1em;
        margin-right : 1em;
    }
}

.nav {
    font-family:'DM Serif Display' !important;
    padding: auto;
}

a.nav-link{
    color: black;
  }

// Hero

#hero {
    max-width: 100%;
    background-image: url(../images/cheesecake-1578695_1920.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #hero .d-flex{
    height: 82vh;
  }

  .display-1 {
    font-family:'DM Serif Display' !important;
    text-align: right;
  }

// about us homepage

.about-us{
  padding: 60px 0 60px 0;
}


.border{
  border-color: black;
  border-width: medium 10px;
  border-radius: 80px;
}
